
p{
		color:green ;
		font-size:50px ;
		font-family:Arial ;
		margin:50px ;

		padding:100 ;
		box-sizing:border-box ;}

		img{max-width:90% ;
			max-height:auto ;
			display:block ;}

			div{
				width:85% ;
				margin:auto ;
				padding: 50px;
				background-color: yellow;
				box-shadow: 0 0 30px 3px rgba(0, 0, 0, 1.0);

			}
				h1{
				font-size:50px;
				text-align: center;
				}
			a{
				font-size: 50px;
			}